@tailwind base;
@tailwind components;
@tailwind utilities;
/*modificando scroll*/
html::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 15px;
    
}
/*fondo srcoll*/
html::-webkit-scrollbar-track{
    background-color: #030303;
}
/*up scroll*/
html::-webkit-scrollbar-thumb{
    background-color: #df1212;
    border-radius: 1rem; }